@import url(https://fonts.googleapis.com/css?family=Lato:400, 300, 700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
/////////////////////////////////
VARIABLES
////////////////////////////////
*/
:root {
  --clr-primary: #fff;
  --clr-secondary: rgb(43, 164, 204);
  --shadow-box: rgba(0, 0, 0, 0.2);
  --shadow-form: rgba(0, 0, 0, 0.5);
  --border: 1px solid rgba(255, 255, 255, 0.5);
  --spacing: 0.2rem;
  --transition: all linear 0.3s;
  --ff-family: "lato", sans-serif;
  --font-size: 0.875rem;
}
/*
/////////////////////////////////
GLOBALS
////////////////////////////////
*/
body {
  background: url("./images/waves.jpg") center/cover no-repeat;
  height: 100vh;
  text-transform: capitalize;
  font-family: var(--ff-family);
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: var(--transition);
}
button {
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 10%;
  border-color: var(--clr-primary);
  font-size: var(--font-size);
  text-transform: uppercase;
  transition: var(--transition);
  background-color: rgba(43, 164, 204, 0.8);
  color: var(--clr-primary);
}
button:hover {
  background: var(--shadow-box);
  color: var(--clr-secondary);
  border-color: var(--clr-secondary);
}
input[type="checkbox"] {
  transform: scale(0.8);
}

/*
/////////////////////////////////
LOGO
////////////////////////////////
*/
.logo {
  margin-bottom: 1rem;
  text-align: left;
  border-bottom: 2px solid tomato;
}
.logo h1 {
  display: inline-block;
  font-size: 1.5rem;
  transform: skewX(-15deg);
  font-weight: 500;
  letter-spacing: var(--spacing);
  color: var(--clr-primary);
  transition: var(--transition);
}
span {
  font-size: 2.5rem;
  color: var(--clr-secondary);
}
.logo img {
  transform: skewX(-15deg);
  width: 50px;
  height: 60px;
  background: tomato;
  border-radius: 50%;
  transition: var(--transition);
}

/*
/////////////////////////////////
All the login Form
////////////////////////////////
*/
.login_wrapper {
  min-width: 22rem;
  width: 60vw;
  max-width: 40rem;
  background: var(--shadow-form);
  box-shadow: 8px 8px 10px black;
  padding: 2rem;
  align-self: flex-end;
}

/*
/////////////////////////////////
Input Boxes(username+textarea)
////////////////////////////////
*/
/* Top Part */
.input_wrapper {
  display: flex;
  background: var(--shadow-form);
  color: var(--clr-primary);
  margin-bottom: 1rem;
  text-align: right;
  justify-content: center;
  align-content: center;
}

/* unified class for all inputs and labels */
.form_control {
  line-height: 1rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  border: var(--border);
}

.label {
  width: 6rem;
  background: rgba(22, 188, 243, 0.8);
}
.input {
  flex-grow: 1;
  background: var(--shadow-box);
  color: white;
}
.input:focus {
  background: var(--clr-secondary);
  opacity: 0.8;
  border: 1px solid white;
  outline: none;
}

/* Lower part of login form */
.lower_wrapper {
  text-align: left;
  color: white;
  display: flex;
  justify-content: space-between;
}
.left_box {
  width: 50%;
  font-size: 0.75rem;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-primary);
  font-size: 0.65rem;
  position: relative;
  left: 1.1rem;
}
a:hover {
  color: var(--clr-secondary);
}
.right_box {
  align-self: flex-end;
}
/*
/////////////////////////////////
FOOTER
////////////////////////////////
*/

.footer {
  width: 100%;
  text-align: center;
  color: var(--clr-primary);
  align-self: center;
  font-size: 0.7rem;
  margin-top: -160px;
}

/*
/////////////////////////////////
Media QUERRY
////////////////////////////////
*/
@media screen and (min-width: 770px) {
  .login_wrapper {
    height: 25rem;
    font-size: 1rem;
  }
  .logo h1 {
    font-size: 2rem;
  }
  .logo span {
    font-size: 3rem;
  }
  .logo img {
    transform: scale(1.3) skewX(-15deg);
  }
  .input_wrapper {
    flex-direction: column;
    text-align: left;
  }
  .form_control {
    width: 100%;
  }
  .label {
    margin: 0 auto;
    letter-spacing: 0.3rem;
  }
  .lower_wrapper {
    flex-direction: column;
    text-align: center;
  }
  .left_box,
  .right_box {
    font-size: 1rem;
    align-self: center;
    margin: 0.3rem auto;
  }
  a {
    position: initial;
    font-size: 0.9rem;
  }
  button {
    padding: 0.5rem 1.5rem;
  }
  .footer {
    font-size: 0.8rem;
    letter-spacing: 0.16rem;
    margin: 0;
  }
}
